@{
    ViewData["Title"] = "-";
}


<html>

    <body>
    <center> <h1> Edit Profile Page </h1> </center>
    <center> <h1> @ViewBag.error </h1> </center>
    <form asp-controller="EditProfile" asp-action="EditProfile" method="post">
        <div class="form-group">
            <input type="password" class="form-control" name="registrationOldPassword" placeholder="Old password">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="registrationPassword" placeholder="Enter password">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="registrationPassword2" placeholder="Re-Enter password">
        </div>
        <div class="form-group">
            <input type="name" class="form-control" name="registrationName" placeholder="Enter name">
        </div>
        <div class="form-group">
            <input type="name" class="form-control" name="registrationPhoto" placeholder="Add Profile Picture Link">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</body>

<body>
    
    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
        <div class="card p-4">
            <div class=" image d-flex flex-column justify-content-center align-items-center">
                <button class="btn btn-secondary">
                    <img src=@ViewBag.Photo height="150" width="125" />
                </button>
                <div class="name mt-3"></div>
                <div class="idd">@ViewBag.Name</div>


                <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                    <div class="Tickets">
                        <a class="btn1 btn-dark" asp-area="" asp-controller="MyTickets" asp-action="MyTickets">My Tickets</a>
                    </div>

                </div>


                <div class=" px-2 rounded mt-4 date ">
                    <div class="join">Joined May,2021</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>>