
@{
    ViewData["Title"] = "Register";
}

<html>
    <head>
        <script>
                function myFunction2() {
            document.getElementById("test").innerHTML = "Paragraph changed.";
                    if (document.getElementById("password").value == document.getElementById("password2").value && document.getElementById("password").value != ""){
                        document.getElementById("test").innerHTML = "Paragraph bitt.";
                        ViewBag.password = document.getElementById("password").value
                    }
                }
            </script>
    </head>

<h1>Register</h1>

<body>
@*<div class="container">   *@
            <label>Email Address : </label>   
            <input type="text" placeholder="Enter Email" name="email" required>  
            <label>Enter Password : </label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required>
            <label>Re-Enter Password : </label>
        <input type="password" placeholder="Re-Enter Password" name="password2" id ="password2" required>
            <button type="submit" onclick="myFunction2()">Register</button>
            <input type="checkbox" checked="checked"> Remember me   
            <button type="button" class="cancelbtn"> Cancel</button>   
             Forgot <a href="#"> password? </a>
</body>
</html>